// Config
// --------------------

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: false;

// Pico Lib
// --------------------

@import "pico";

.main__header {
    height: 10em;

    h1 {
        text-align: center;
    }

    h1::before {
        content: url("logo.png");
        display: inline-block;
        margin-right: .2em;
        width: 100px;
        height: 99px;
        vertical-align: middle;
    }

    nav {
        ul {
            margin: 0 auto;
            li:not(:last-child) {
                border-right: 2px solid var(--card-border-color);
            }
            li {
                a[href^="https://github.com"] {
                    content: url("icons/github.svg");
                    width: 2em;
                    height: 2em;
                }
                a[href^="https://twitter.com"] {
                    content: url("icons/x.svg");
                    width: 2em;
                    height: 2em;
                }
                a[href$="atom.xml"] {
                    content: url("icons/rss.svg");
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
}

.main__footer {
    p {
        text-align: center;
        font-size: small;
    }
}

main {
    article {
        header {
            img {
                float: left;
                padding-right: 1em;
            }
        }
        footer {
            ul {
                li {
                    display: inline;
                    list-style: none;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .previous {
                    float: left;
                }
                .next {
                    float: right;
                }
            }
        }
    }
    nav {
        ul {
            width: 100%;
            justify-content: center;

            li {
                display: inline;
                list-style: none;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        .previous {
            float: left;
        }
        .next {
            float: right;
        }
    }
}

/* youtube */
.youtube {
    max-width: 640px;
    margin: auto;
    position: relative;
}

@mixin youtube($youtube-aspect-ratio) {
    iframe {
        aspect-ratio: $youtube-aspect-ratio;
	      width: 100%;
    }
}

.youtube-16x9 {
    @include youtube(16/9) /* inverse of 16:9 aspect ratio */
}

.youtube-4x3 {
    @include youtube(4/3)   /* inverse of 4:3 aspect ratio */
}
