// Config
// --------------------

// Enable <header>, <main>, <footer> inside $semantic-root-element as containers
$enable-semantic-container: true;

// Enable .classes
$enable-classes: false;

// Pico Lib
// --------------------

@import "pico";

.main__header {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0;
    }

    img {
        vertical-align: middle;
    }
}

main {
    article {
        header {
            img {
                float: left;
                padding-right: 1em;
            }
        }
        footer {
            ul {
                li {
                    display: inline;
                    list-style: none;
                }
                .previous {
                    float: left;
                }
                .next {
                    float: right;
                }
            }
        }
    }
    nav {
        ul {
            width: 100%;
            justify-content: center;
        }
        .previous {
            float: left;
        }
        .next {
            float: right;
        }
    }
}

/* youtube */
.youtube {
    max-width: 640px;
    margin: auto;
    position: relative;
}

@mixin youtube($youtube-aspect-ratio) {
    iframe {
        aspect-ratio: $youtube-aspect-ratio;
	      width: 100%;
    }
}

.youtube-16x9 {
    @include youtube(16/9) /* inverse of 16:9 aspect ratio */
}

.youtube-4x3 {
    @include youtube(4/3)   /* inverse of 4:3 aspect ratio */
}
