{% extends "index.html" %}

{% block content %}
<section>
    <h2>{{ term.name }} ({{ term.page_count }})</h2>
  {% for year, pages in term.pages | group_by(attribute="year") %}
        <h3>{{ year }}</h3>
        <details {%- if loop.index == 1 %} open{% endif %}>
            <summary>Expandir ({{ pages | length }}):</summary>
            <ul role="list">
    {% for page in pages %}
      {% set tema = page.taxonomies.tema[0] | lower %}
                <li role="listitem">
                    <a href="{{ page.permalink | safe }}">{{ page.title }}</a><br/>
                    <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date(format="%A, %d %B %Y @ %H:%M %z", locale="es_MX") }}</time>
                    <address>
                        <a rel="bookmark" href="{{ get_taxonomy_url(kind="tema", name=page.taxonomies.tema[0], trailing_slash=false) }}"><img src="{{ get_url(path='/topics/' ~ tema ~ '.png', trailing_slash=false) }}" /></a>
                    </address>
                </li>
    {% endfor %}
            </ul>
        </details>
  {% endfor %}
</section>
{% endblock content %}
