{% extends "index.html" %}

{% block content %}
<section>
  {% set name = term.name | lower  %}
    <h2><img  alt="{{ term.name }}" src="{{ get_url(path='/topics/' ~ name ~ '.png', trailing_slash=false) }}" /> {{ term.name | capitalize }} ({{ term.page_count }})</h2>
    {% for year, pages in term.pages | sort(attribute="year") | reverse | group_by(attribute="year") %}
    <h3>{{ year }}</h3>
    <details {%- if loop.index == 1 %} open{% endif %}>
        <summary>Expandir ({{ pages | length }}):</summary>
        <ul role="list">
      {% for page in pages %}
            <li role="listitem">
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a><br/>
                <time datetime="{{ page.date }}" itemprop="datePublished">{{ page.date | date(format="%A, %d %B %Y @ %H:%M %z", locale="es_MX") }}</time>
                <address itemscope itemtype="http://schema.org/Person">
                    <a href="{{ get_taxonomy_url(kind="autor", name=page.taxonomies.autor[0], trailing_slash=false) }}">{{ page.taxonomies.autor[0] }}</a>
                </address>
            </li>
      {% endfor %}
        </ul>
    </details>
    {% endfor %}
</section>
{% endblock content %}
