{# Extra Meta tags for OpenGraph and Twitter cards #}
{% component open_graph(config, page = null, section = null, term=null, taxonomy= null) %}
{%- if page -%}
  <!-- page  -->
  {%- set permalink = page.permalink -%}
  {%- set title = page.title -%}
  {%- if page.description -%}
    {%- set description = page.description -%}
  {%- else -%}
    {%- set description = page.content | safe | striptags | replace(from='\n', to='') | truncate(length=190) | trim -%}
  {%- endif -%}
  {%- set type = "article" -%}
  {%- if page.extra and page.extra.og_image -%}
    {%- if page.colocated_path -%}
      {%- set og_image = page.path ~ page.extra.og_image -%}
    {%- else -%}
      {%- set og_image = page.extra.og_image -%}
    {%- endif -%}
  {%- elif config.extra.default_og_image -%}
    {%- set og_image = config.extra.default_og_image -%}
  {%- endif -%}
{%- elif section -%}
  <!-- section  -->
  {%- set permalink = section.permalink -%}
  {%- if section.title -%}
    {%- set title = section.title -%}
  {%- else -%}
    {%- set title = config.title -%}
  {%- endif -%}
  {%- if section.description -%}
    {%- set description = section.description -%}
  {%- else -%}
    {%- set description = config.description -%}
  {%- endif -%}
  {%- set type = "website" -%}
  {%- if section.extra and section.extra.og_image -%}
    {%- set og_image = section.extra.og_image -%}
  {%- elif config.extra.default_og_image -%}
    {%- set og_image = config.extra.default_og_image -%}
  {%- endif -%}
{%- elif term -%}
  <!-- term -->
  {%- set type = "website" -%}
  {%- set permalink = term.permalink -%}
  {%- set title = term.name -%}
  {%- set description = "Artículos de " ~ term.name -%}
{%- elif taxonomy -%}
  <!-- taxonomy -->
  {%- set type = "website" -%}
  {%- set permalink = config.base_url ~ "/" ~ taxonomy.slug -%}
  {%- set title = taxonomy.name -%}
  {%- set description = "Listado de " ~ taxonomy.name -%}
{%- else -%}
  <!-- nada  -->
  {%- set type = "website" -%}
  {%- set title = config.title -%}
  {%- set description = config.description -%}
  {%- set permalink = config.base_url -%}
  {%- if config.extra.default_og_image -%}
    {%- set og_image = config.extra.default_og_image -%}
  {%- endif -%}
{%- endif -%}

        <meta property="og:description" content="{{ description | safe }}">
        <meta property="og:title" content="{{ title | safe }}">
        <meta property="og:type" content="{{ type }}">
        <meta property="og:url" content="{{ permalink | safe }}">
{%- if og_image %}
        <meta property="og:image" content="{{ get_url(path=og_image) }}">
        <meta name="twitter:image" content="{{ get_url(path=og_image) }}">
        {% endif -%}

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:description" content="{{ description | safe }}">
        <meta name="twitter:title" content="{{ title | safe }}">
        <meta property="twitter:domain" content="{{ config.base_url | replace(from="http://", to="") | replace(from="https://", to="") }}">
        <meta property="twitter:url" content="{{ permalink | safe }}">
{% endcomponent open_graph %}
