{% macro title(page) %}
<header>
    <h1>
        <a rel="bookmark" href="{{ page.permalink | safe }}">
            {{ page.title }}
        </a>
    </h1>
    <div>
        {% if page.taxonomies.tema[0] %}
          {% set tema = page.taxonomies.tema[0] | lower %}
        <a rel="bookmark" href="{{ get_taxonomy_url(kind="tema", name=page.taxonomies.tema[0], trailing_slash=false) }}">
            <img src="{{ get_url(path='/topics/' ~ tema ~ '.png', trailing_slash=false) }}" title="{{ tema }}" />
        </a>
        {% endif %}
        <div>
            <p>
                <time datetime="{{ page.date }}" itemprop="datePublished">
                    {{ page.date | date(format="%A, %d %B %Y @ %H:%M %z", locale="es_MX") | capitalize }}
                </time>
            </p>
        {% if page.taxonomies.autor[0] %}
            <address itemscope itemtype="http://schema.org/Person">
                <a href="{{ get_taxonomy_url(kind="autor", name=page.taxonomies.autor[0], trailing_slash=false) }}">
                    {{ page.taxonomies.autor[0] }}
                </a>
            </address>
        {% endif %}
            <p>
                <em>Tiempo de lectura aproximada: {{ page.reading_time }} min.</em>
            </p>
        </div>
        <p><a class="button" rel="nofollow noreferrer noopener" target="_blank" href="https://github.com/gliborgmx/static-glib/tree/main/content/{{ page.relative_path }}">Editar en GitHub</a></p>
    </div>
</header>
{% endmacro title %}
