{% import "macros/post.html" as post_macros %}
{% import "macros/og.html" as og_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8  />
        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% if page %}
        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
        {% endif %}
        {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
        {% endif %}

        {{ og_macros::open_graph(config=config) }}

        <title>{% block title %}{{ config.title }}{% endblock title %}</title>

        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}" />
        {% endif %}

        <link rel="stylesheet" href="{{ get_url(path='pico.classless.css', trailing_slash=false) }}" />
        <link rel="shortcut icon" href="{{ get_url(path='favicon.ico', trailing_slash=false) }}" />
        <link type="text/plain" rel="author"  href="{{ get_url(path='humans.txt', trailing_slash=false) }}">

        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["disableCookies"]);
            _paq.push(["trackPageView"]);
            _paq.push(["enableLinkTracking"]);
            (function() {
                 var u = "https://www.ceyusa.com/analytics/";
                 _paq.push(["setTrackerUrl", u + "piwik.php"]);
                 _paq.push(["setSiteId", "2"]);
                 var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
                 g.type = "text/javascript";
                 g.defer = true;
                 g.async = true;
                 g.src = u + "piwik.js";
                 s.parentNode.insertBefore(g, s);
             })();
        </script>
    </head>

    <body>
        <header class="main__header">
            <h1><a rel="bookmark" href="{{ config.base_url | safe }}"><img src="{{ get_url(path='logo.png', trailing_slash=false) }}"></a> Grupo Linuxero del Bajío</h1>
        </header>

        <main>
            {% block content %}
            {% for page in paginator.pages %}
            <article>
                {{ post_macros::title(page=page) }}
                {% if page.summary %}
                {{ page.summary | safe }}
                <a href="{{ page.permalink }}">Leer más...</a>
                {% else %}
                {{ page.content | safe }}
                {% endif %}
            </article>
            {% endfor %}
            <nav>
                <ul>
                    {% if paginator.previous %}
                    <li><a href="{{ paginator.first | safe }}">« Primero</a></li>
                    <li><a href="{{ paginator.previous | safe }}">‹ Anterior</a></li>
                    {% endif %}
                    <li> |
                    {% if paginator.next %}
                    <li><a href="{{ paginator.next | safe }}">Siguiente ›</a></li>
                    <li><a href="{{ paginator.last | safe }}">Último »</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endblock content %}
        </main>

        {% block footer %}
        {% endblock footer %}
    </body>
</html>
