{% extends "index.html" %}
{% import "macros/post.html" as post_macros %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}

<article>
    {{ post_macros::title(page=page) }}
    <section>
        {{ page.content | safe }}
    </section>

    {% block page_before_footer %}
    <a href="#comentarios"></a>
    <script data-isso-lang="es" data-isso="https://glib.org.mx/comments" src="https://glib.org.mx/comments/js/embed.min.js"></script>
    <section id="isso-thread" data-isso-id="{{ page.path | trim_end_matches(pat='/') | safe }}">
        <noscript>Se require Javascript activado para desplegar los comentarios.</noscript>
    </section>
    {% endblock page_before_footer %}

    {% block page_footer %}
    <footer>
        {% if page.lower or page.higher %}
        <nav>
            <ul>
                {% if page.lower %}
                <li><a class="previous" rel="prev" href="{{ page.lower.permalink | safe }}">‹ {{ page.lower.title }}</a></li>
                {% endif %}
                {% if page.higher %}
                <li><a class="next" rel="next" href="{{ page.higher.permalink | safe }}">{{ page.higher.title }} ›</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </footer>
    {% endblock page_footer %}

    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>

{% endblock content %}
