{% extends "index.html" %}
{% import "macros/post.html" as post_macros %}

{% block title %}{{config.title}} - {{page.title}}{% endblock title %}

{% block content %}

{% if page.toc %}
<h2>Contenido</h2>
<nav>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}

<article>
    {{ post_macros::title(page=page) }}
    {{ page.content | safe }}

    {% block page_before_footer %}
    {% endblock page_before_footer %}

    {% block page_footer %}
    <footer>
        {% if page.lower or page.higher %}
        <nav>
            <ul>
                {% if page.lower %}
                <li><a class="previous" rel="prev" href="{{ page.lower.permalink | safe }}">‹ {{ page.lower.title }}</a></li>
                {% endif %}
                {% if page.higher %}
                <li><a class="next" rel="next" href="{{ page.higher.permalink | safe }}">{{ page.higher.title }} ›</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </footer>
    {% endblock page_footer %}

    {% block page_after_footer %}
    {% endblock page_after_footer %}
</article>

{% endblock content %}
